<html lang="en">
<head>
    <title>Submittion Complete</title>
    <link rel="stylesheet" href="/styling/issue.css">
</head>
<body>
    <div class="main_container">
        <h1>Submission Complete</h1>
        <hr>
        <p>Thank you for completing the submission to <b>Issue No. <%=issue_number%></b> of the <b><%=press_name%></b>.</p>
        <p>Check back on <b><%=release_date%></b> to read the issue.</p>
        <br>
        <a href="/press/<%=press_id%>" id="back_to_press">Back to the press page</a>
    </div>

</body>
</html>