<html lang="en">
<head>
    <title>Welcome to ISSUED</title>
    <link rel="stylesheet" href="styling/intro.css">
</head>
<body>

    <img src="assets/logo.png" alt="ISSUED_logo" id="logo">

    <div class="create_or_join_buttons">
        <a href="/create" >Create A Press</a>
        <a href="/join">Join A Press</a>
    </div>

</body>
</html>
