<html lang="en">
<head>
    <title>Join an Exisiting Press</title>
    <link rel="stylesheet" href="styling/intro.css">
</head>
<body>
    <div class="join_container">
        <h1>Join an Exisiting Press</h1>

        <br>
    
        <form method="GET" action="/join_request">
            <input type="text" name="press_id" placeholder="pressID: xxxx-xxxx-xxxx-xxx" required>
            <input type="password" name="entrance_code" placeholder="Entrance Code" required>
    
            <input type="submit" value="Join Press">
        </form>
    </div>
</body>
</html>